__pycache__
.venv
.vim
.vimspector.json
.vscode
*/*sqlite
*/data/*
/.idea/
/data/
/deploy/apex_config.json
/deploy/apex_gui/
/deploy/apex.exe
/deploy/apex.zip
/deploy/apex/
/deploy/bin/
/deploy/build/
/deploy/data/
/deploy/elastic.zip
/deploy/elasticsearch-8.11.1/
/deploy/install_elastic.bat
/deploy/replay_config.json
/deploy/start_elastic.bat
/elasticsearch-8.11.1/
/play/
elastic.zip
indexer.log
pyrightconfig.json
pytest.log
venv
